<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="reset_password" appConnect="local" components="{dmxValidator:{},dmxStateManagement:{},dmxBootstrap5Alert:{},dmxBrowser:{}}" -->
<div is="dmx-browser" id="browser1"></div>
<dmx-serverconnect id="serverconnect1" url="/api/registration/resetPW"></dmx-serverconnect>
<dmx-query-manager id="query1"></dmx-query-manager>
<section>
    <div class="container">
        <form id="login1" method="post" is="dmx-serverconnect-form" action="/api/registration/resetPW" dmx-on:invalid="alert1.show();alert1.setType('danger');alert1.setTextContent(lastError.response)" dmx-on:success="alert1.show();alert1.setType('success');alert1.setTextContent('Your password has been reset');browser1.goto('/login')">
            <input id="hash" name="g_hashh" class="form-control" dmx-bind:value="query1.data.id">
            <input id="email" name="g_emaill" class="form-control" dmx-bind:value="query1.data.email">
            <input id="text1" name="text1" type="text" class="form-control" dmx-bind:value="serverconnect1.data.query1.user_email">
            <div class="row">
                <div class="col-12 col-md-8 col-lg-7 col-xl-5 text-start">
                    <div class="row">
                        <div class="col">
                            <h1>Reset Password</h1>
                            <p class="text-h3">Enter your details below.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mt-4">
                            <h2>Email:&nbsp;</h2>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col">
                            <p>Enter new Password</p>
                            <input type="password" id="new_PW" name="user_pw" class="form-control" placeholder="New Password" required="" data-rule-nowhitespace="" data-rule-alphanumeric="" minlength="3" data-msg-minlength="Please enter at least {3} characters.">
                        </div>
                        <div class="col">
                            <p>Confirm new Password</p>
                            <input type="password" id="new_PW1" name="user_pw1" class="form-control" placeholder="Confirm New Password" data-rule-equalto="user_pw" data-msg-equalto="Password must be same ">
                            <div class="alert" id="alert1" is="dmx-bs5-alert" role="alert">
                                <p>Password not match!</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col">
                            <button id="login1_submit" class="btn btn-outline-primary" type="submit">Reset Password</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<meta name="ac:route" content="/reset_password">